table {
    width: 90vw;
    height: 90vh;
    margin: 10vh auto;
  }
  td {
    text-align: center;
    width: 3rem;
    height: 2rem;
    border-radius: 10%;
    border: 2px gray solid;
  }
  td:empty {
    border: none;
  }
  td:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }

  tr:nth-child(4) :nth-child(n + 3):nth-child(-n + 12),
  tr:nth-child(5) :nth-child(n + 3):nth-child(-n + 12),
  tr:nth-child(6) :nth-child(n + 4):nth-child(-n + 12),
  tr:nth-child(7) :nth-child(n + 4):nth-child(-n + 12) {
    background-color: #3d9f4e;
  }
  tr:nth-child(1) :nth-child(1),
  tr:nth-child(2) :nth-child(n + 14):nth-child(-n + 16),
  tr:nth-child(3) :nth-child(n + 15):nth-child(-n + 16),
  tr:nth-child(4) :nth-child(16) {
    background-color: #f3ff3d;
  }
  tr:nth-child(6) :nth-child(3),
  tr:nth-child(7) :nth-child(3) {
    border: 2px gray solid;
  }
  tr:nth-child(6) :nth-child(3),
  tr:nth-child(8) :nth-child(n + 2):nth-child(-n + 15) {
    background-color: #a7d2fe;
  }
  tr:nth-child(n + 2):nth-child(-n + 7) :nth-child(1),
  tr:nth-child(7) :nth-child(17) {
    background-color: #8080b1;
  }
  tr:nth-child(7) :nth-child(3),
  tr:nth-child(9) :nth-child(n + 2):nth-child(-n + 15) {
    background-color: #3da1a0;
  }
  tr:nth-child(n + 2):nth-child(-n + 7) :nth-child(2),
  tr:nth-child(7) :nth-child(18) {
    background-color: #e5cf9f;
  }
  tr:nth-child(n + 3):nth-child(-n + 7) :nth-child(13),
  tr:nth-child(n + 5):nth-child(-n + 7) :nth-child(14),
  tr:nth-child(6) :nth-child(15) {
    background-color: #ffc0cd;
  }
  tr:nth-child(2) :nth-child(13),
  tr:nth-child(n + 3):nth-child(-n + 4) :nth-child(14),
  tr:nth-child(n + 4):nth-child(-n + 5) :nth-child(15),
  tr:nth-child(n + 5):nth-child(-n + 6) :nth-child(16) {
    background-color: #ff9b69;
  }
  tr:nth-child(n + 1):nth-child(-n + 6) :nth-child(18),
  tr:nth-child(7) :nth-child(16) {
    background-color: #da8bd3;
  }
  tr:nth-child(n + 2):nth-child(-n + 6) :nth-child(17),
  tr:nth-child(7) :nth-child(15) {
    background-color: #d7b13e;
  }